<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>صفحة مشرف المديرية</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            direction: rtl;
            text-align: right;
        }
        .centered {
            display: flex;
            justify-content: center;
        }
        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="header">
            <div>مرحبا، <strong>{{ user.username }}</strong></div>
            <div>مديرية: <strong>{{ directorate.name }}</strong></div>
        </div>
        <div class="centered my-3">
            <button class="btn btn-secondary" onclick="window.location.href='{% url 'export_directorate_data' %}'">تصدير بيانات المديرية</button>
        </div>
            
        <div class="row">
            <div class="col-md-3">
                
                <ul class="list-group">
                    {% for area in areas %}
                        <li class="list-group-item">
                            <input type="radio" name="selectedArea" value="{{ area.id }}"> 
                            <a href="#" onclick="loadMosques({{ area.id }})">{{ area.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
                <div class="mt-3">
                    
                    <button class="btn btn-success" onclick="openAddAreaModal()">إضافة منطقة</button>
                    <button class="btn btn-warning" onclick="handleEditArea()">تعديل منطقة</button>
                    <button class="btn btn-danger">حذف منطقة</button>
                </div>
            </div>
            <div class="col-md-6">
                <h3>المساجد</h3>
                <div class="list-group" id="mosqueList"></div>
                <div class="mt-3">
                    <button class="btn btn-success" data-toggle="modal" data-target="#addMosqueModal">إضافة مسجد</button>
                    <button class="btn btn-warning">تعديل مسجد</button>
                    <button class="btn btn-danger">حذف مسجد</button>
                </div>
            </div>
            <div class="col-md-3">
                <h3>تفاصيل المسجد</h3>
                <div class="list-group" id="mosqueDetails"></div>
            </div>
        </div>
    </div>

     <!-- Modal لإضافة المنطقة -->
    <div class="modal fade" id="addAreaModal" tabindex="-1" aria-labelledby="addAreaModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addAreaModalLabel">إضافة منطقة</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="addAreaForm">
                    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="addAreaName">اسم المنطقة:</label>
                            <input type="text" class="form-control" id="addAreaName" name="addAreaName" placeholder="أدخل اسم المنطقة" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">حفظ</button>
                        <button type="reset" class="btn btn-secondary">إعادة تعيين</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    
    <!-- Modal لتحديد المنطقة لتعديلها -->
    <div class="modal fade" id="selectAreaModal" tabindex="-1" aria-labelledby="selectAreaModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="selectAreaModalLabel">تحديد منطقة لتعديلها</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>حدد المنطقة التي تريد تعديلها:</p>
                    <ul class="list-group" id="selectAreaList">
                        <!-- سيتم ملء القائمة باستخدام JavaScript -->
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">إغلاق</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal لتعديل المنطقة -->
    <div class="modal fade" id="editAreaModal" tabindex="-1" aria-labelledby="editAreaModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editAreaModalLabel">تعديل المنطقة</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="editAreaForm">
                    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                    <div class="modal-body">
                        <p><strong>اسم المنطقة القديم:</strong> <span id="oldAreaName"></span></p>
                        <div class="form-group">
                            <label for="newAreaName">اسم المنطقة الجديد:</label>
                            <input type="text" class="form-control" id="newAreaName" name="newAreaName" placeholder="أدخل الاسم الجديد" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">حفظ</button>
                        <button type="reset" class="btn btn-secondary">إعادة تعيين</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

   

     <!-- Modal لإضافة مسجد -->
     <div class="modal fade" id="addMosqueModal" tabindex="-1" aria-labelledby="addMosqueModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-name" id="addMosqueModalLabel">إضافة مسجد</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="addMosqueForm" action="{% url 'add_mosque' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" id="selectedAreaId" name="area">
                        <div class="form-group">
                            <label for="mosqueName">اسم المسجد</label>
                            <input type="text" class="form-control" id="mosqueName" name="mosqueName" placeholder="أدخل اسم المسجد" required>
                        </div>
                        <div class="form-group">
                            <label for="mosqueType">نوع الجامع</label>
                            <select class="form-control" id="mosqueType" name="mosqueType" required>
                                <option value="جمعة">جمعة</option>
                                <option value="جماعة">جماعة</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="womensPrayerArea">مصلى النساء</label>
                            <input type="checkbox" class="form-control" id="womensPrayerArea" name="womensPrayerArea">
                        </div>
                        <div class="form-group">
                            <label for="quranSchool">مدرسة تحفيظ القرآن الكريم</label>
                            <input type="checkbox" class="form-control" id="quranSchool" name="quranSchool">
                        </div>
                        <div class="form-group">
                            <label for="islamicCenter">مركز للعلوم الشرعية</label>
                            <input type="checkbox" class="form-control" id="islamicCenter" name="islamicCenter">
                        </div>
                        <div class="form-group">
                            <label for="hasAwqaf">هل للجامع أوقاف</label>
                            <input type="checkbox" class="form-control" id="hasAwqaf" name="hasAwqaf">
                        </div>
                        <div class="form-group">
                            <label for="commercialUnits">عدد المحلات التجارية</label>
                            <input type="number" class="form-control" id="commercialUnits" name="commercialUnits" required>
                        </div>
                        <div class="form-group">
                            <label for="houses">عدد البيوت</label>
                            <input type="number" class="form-control" id="houses" name="houses" required>
                        </div>
                        <div class="form-group">
                            <label for="farms">عدد المزارع</label>
                            <input type="number" class="form-control" id="farms" name="farms" required>
                        </div>
                        <div class="form-group">
                            <label for="rentalApartments">عدد الشقق المؤجرة</label>
                            <input type="number" class="form-control" id="rentalApartments" name="rentalApartments" required>
                        </div>
                        <div class="form-group">
                            <label for="lands">عدد الأراضي</label>
                            <input type="number" class="form-control" id="lands" name="lands" required>
                        </div>
                        <div class="form-group">
                            <label for="wells">عدد الآبار</label>
                            <input type="number" class="form-control" id="wells" name="wells" required>
                        </div>
                        <div class="form-group">
                            <label for="khatibName">اسم الخطيب</label>
                            <input type="text" class="form-control" id="khatibName" name="khatibName" placeholder="أدخل اسم الخطيب" required>
                        </div>
                        <div class="form-group">
                            <label for="khatibPhone">رقم هاتف الخطيب</label>
                            <input type="text" class="form-control" id="khatibPhone" name="khatibPhone" placeholder="أدخل رقم هاتف الخطيب" required>
                        </div>
                        <div class="form-group">
                            <label for="khatibWhatsapp">رقم واتساب الخطيب</label>
                            <input type="text" class="form-control" id="khatibWhatsapp" name="khatibWhatsapp" placeholder="أدخل رقم واتساب الخطيب">
                        </div>
                        <div class="form-group">
                            <label for="imamName">اسم إمام المسجد</label>
                            <input type="text" class="form-control" id="imamName" name="imamName" placeholder="أدخل اسم الإمام" required>
                        </div>
                        <div class="form-group">
                           <label for="imamPhone">رقم هاتف إمام المسجد</label>
                           <input type="text" class="form-control" id="imamPhone" name="imamPhone" placeholder="أدخل رقم هاتف الإمام" required>
                        </div>
                        <div class="form-group">
                            <label for="imamWhatsapp">رقم واتساب إمام المسجد</label>
                            <input type="text" class="form-control" id="imamWhatsapp" name="imamWhatsapp" placeholder="أدخل رقم واتساب الإمام">
                        </div>
                        <button type="submit" class="btn btn-primary">حفظ</button>
                        <button type="reset" class="btn btn-secondary">إعادة تعيين</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script>
        let selectedAreaId = null;

        // جلب قائمة المناطق من الخادم
        function loadAreas() {
            fetch('/areas/')
                .then(response => response.json())
                .then(data => {
                    const areaList = document.getElementById('areaList');
                    areaList.innerHTML = '';
                    const selectAreaList = document.getElementById('selectAreaList');
                    selectAreaList.innerHTML = '';
                    data.forEach(area => {
                        const li = document.createElement('li');
                        li.className = 'list-group-item';
                        li.innerHTML = `<input type="checkbox" name="selectedArea" value="${area.id}"> ${area.name}`;
                        areaList.appendChild(li);

                        const selectLi = document.createElement('li');
                        selectLi.className = 'list-group-item';
                        selectLi.innerHTML = `<input type="checkbox" name="selectedArea" value="${area.id}"> ${area.name}`;
                        selectAreaList.appendChild(selectLi);
                    });
                });
        }

        // فتح نافذة لإضافة منطقة
        function openAddAreaModal() {
            $('#addAreaModal').modal('show');
        }

        // معالجة زر تعديل المنطقة
        function handleEditArea() {
            const selectedCheckbox = document.querySelector('input[name="selectedArea"]:checked');
            if (!selectedCheckbox) {
                $('#selectAreaModal').modal('show');
            } else {
                const areaId = selectedCheckbox.value;
                const areaName = selectedCheckbox.parentElement.textContent.trim();
                selectArea(areaId, areaName);
            }
        }

        // تحديد المنطقة
        function selectArea(areaId, areaName) {
            selectedAreaId = areaId;
            document.getElementById('oldAreaName').textContent = areaName;
            $('#selectAreaModal').modal('hide');
            $('#editAreaModal').modal('show');
        }

           // معالجة نموذج إضافة المنطقة
        document.getElementById('addAreaForm').addEventListener('submit', function(event) {
            event.preventDefault();
            const newName = document.getElementById('addAreaName').value;
            fetch('/add_area/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                    'X-CSRFToken': document.querySelector('input[name="csrfmiddlewaretoken"]').value
                },
                body: new URLSearchParams({
                    name: newName
                })
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    // تحديث القائمة لعرض المنطقة الجديدة
                    loadAreas();
                    // إخفاء نافذة الإضافة
                    $('#addAreaModal').modal('hide');
                } else {
                    alert('حدث خطأ أثناء إضافة المنطقة. حاول مرة أخرى.');
                }
            });
        });

      // معالجة نموذج تعديل المنطقة
      document.getElementById('editAreaForm').addEventListener('submit', function(event) {
        event.preventDefault();
        const newName = document.getElementById('newAreaName').value;
        fetch(`/update_area/${selectedAreaId}/`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded',
                'X-CSRFToken': document.querySelector('input[name="csrfmiddlewaretoken"]').value
            },
            body: new URLSearchParams({
                name: newName
            })
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                loadAreas();
                // إخفاء نافذة التعديل
                $('#editAreaModal').modal('hide');
                // تحديث القائمة لعرض الاسم الجديد
                loadAreaslist();
            } else {
                alert('حدث خطأ أثناء تعديل المنطقة. حاول مرة أخرى.');
            }
        });
    });


        // جلب قائمة المساجد حسب المنطقة
        function loadMosques(areaId) {
            fetch(`/mosques/${areaId}/`)
                .then(response => response.json())
                .then(data => {
                    const mosqueList = document.getElementById('mosqueList');
                    mosqueList.innerHTML = '';
                    data.forEach(mosque => {
                        const li = document.createElement('li');
                        li.className = 'list-group-item';
                        li.textContent = mosque.name;
                        li.setAttribute('data-id', mosque.id);
                        li.onclick = () => showMosqueDetails(mosque.id);
                        mosqueList.appendChild(li);
                    });
                });
        }


        
        // جلب تفاصيل المسجد وعرضها
        function showMosqueDetails(mosqueId) {
            fetch(`/mosque/${mosqueId}/`)
                .then(response => response.json())
                .then(data => {
                    const mosqueDetails = document.getElementById('mosqueDetails');
                    mosqueDetails.innerHTML = `
                        <p><strong>اسم المسجد:</strong> ${data.name}</p>
                        <p><strong>نوع الجامع:</strong> ${data.mosque_type}</p>
                        <p><strong>مصلى النساء:</strong> ${data.womens_prayer_area ? 'نعم' : 'لا'}</p>
                        <p><strong>مدرسة تحفيظ القرآن الكريم:</strong> ${data.quran_school ? 'نعم' : 'لا'}</p>
                        <p><strong>مركز للعلوم الشرعية:</strong> ${data.islamic_center ? 'نعم' : 'لا'}</p>
                        <p><strong>هل للجامع أوقاف:</strong> ${data.has_awqaf ? 'نعم' : 'لا'}</p>
                        <p><strong>عدد المحلات التجارية:</strong> ${data.commercial_units}</p>
                        <p><strong>عدد البيوت:</strong> ${data.houses}</p>
                        <p><strong>عدد المزارع:</strong> ${data.farms}</p>
                        <p><strong>عدد الشقق المؤجرة:</strong> ${data.rental_apartments}</p>
                        <p><strong>عدد الأراضي:</strong> ${data.lands}</p>
                        <p><strong>عدد الآبار:</strong> ${data.wells}</p>
                        <p><strong>اسم الخطيب:</strong> ${data.khatib_name}</p>
                        <p><strong>رقم هاتف الخطيب:</strong> ${data.khatib_phone}</p>
                        <p><strong>رقم واتساب الخطيب:</strong> ${data.khatib_whatsapp}</p>
                        <p><strong>اسم إمام المسجد:</strong> ${data.imam_name}</p>
                        <p><strong>رقم هاتف إمام المسجد:</strong> ${data.imam_phone}</p>
                        <p><strong>رقم واتساب إمام المسجد:</strong> ${data.imam_whatsapp}</p>
                    `;
                });
        }




      //  function loadMosques(areaId) {
        //    $.ajax({
         //       url: `/get_mosques/${areaId}/`,
          //      method: 'GET',
         //       success: function(data) {
         //           const mosqueList = $('#mosqueList');
         //           mosqueList.empty();
         //           data.mosques.forEach(mosque => {
         //               mosqueList.append(`<a href="#" class="list-group-item list-group-item-action" onclick="loadMosqueDetails(${mosque.id})">${mosque.name}</a>`);
         //           });
        //        }
       //     });
    //    }
     //   
       // / جلب تفاصيل المسجد وعرضها
      //  function showMosqueDetails(mosqueId) {
   //         fetch(`/mosque/${mosqueId}/`)
       //         .then(response => response.json())
         //       .then(data => {
        //            const mosqueDetails = document.getElementById('mosqueDetails');
     //               mosqueDetails.innerHTML = `
         //               <p>اسم المسجد: ${data.name}</p>
           //             <p>نوع الجامع: ${data.mosque_type}</p>
          //              <p>مصلى النساء: ${data.womens_prayer_area ? 'نعم' : 'لا'}</p>
       //                 <p>مدرسة تحفيظ القرآن الكريم: ${data.quran_school ? 'نعم' : 'لا'}</p>
     //                   <p>مركز للعلوم الشرعية: ${data.islamic_center ? 'نعم' : 'لا'}</p>
     //                   <p>هل للجامع أوقاف: ${data.has_awqaf ? 'نعم' : 'لا'}</p>
     //                   <p>عدد المحلات التجارية: ${data.commercial_units}</p>
     //                   <p>عدد البيوت: ${data.houses}</p>
     //                   <p>عدد المزارع: ${data.farms}</p>
     //                   <p>عدد الشقق المؤجرة: ${data.rental_apartments}</p>
     ////                   <p>عدد الأراضي: ${data.lands}</p>
     ////                   <p>عدد الآبار: ${data.wells}</p>
     ////                   <p>اسم الخطيب: ${data.khatib_name}</p>
     ////                   <p>رقم هاتف الخطيب: ${data.khatib_phone}</p>
     ////                   <p>رقم واتساب الخطيب: ${data.khatib_whatsapp}</p>
       //                 <p>اسم إمام المسجد: ${data.imam_name}</p>
       //                 <p>رقم هاتف إمام المسجد: ${data.imam_phone}</p>
       //                 <p>رقم واتساب إمام المسجد: ${data.imam_whatsapp}</p>
       //             `;
       //         });
       // }


        $('#addMosqueForm').submit(function(event) {
            const selectedAreaId = $('input[name="selectedArea"]:checked').val();
            if (!selectedAreaId) {
                alert('يرجى تحديد المنطقة قبل إضافة مسجد.');
                event.preventDefault();
            } else {
                $('#selectedAreaId').val(selectedAreaId);
            }
        });


        // بدء التحميل
        window.onload = () => {
            loadAreas();
        };
    </script>




    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
